<!-- <app-navbar></app-navbar>
<div class="container">
    <h1>Products Management</h1>
    <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/add-products']" style="margin: 15px">Add Products</button>
    </div>
    <br>
    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Image</th>
              <th scope="col">Product Name</th>
              <th scope="col">Product Description</th>
              <th scope="col">Product Cost</th>
              <th scope="col">Product Category</th>
            </tr>
      </thead>
      <tbody>
        <tr *ngFor="let products of productslist">
            <td><img src="{{products.image}}" alt="" ng-style="{ width : image.width, height : image.height }"></td>
            <td>{{products.productName}}</td>
          <td>{{products.productDescription}}</td>
          <td>{{products.productCost}}</td>
          <td>{{products.productCategory}}</td>
            <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/edit-products',products._id]">Edit</button>
                <button class="btn btn-danger btn-sm" style="margin-left: 5px" (click)="deleteProducts(products._id)">Delete</button>
              </td>
        </tr>
      </tbody>
    </table>
  </div> 
<app-footer></app-footer>
 -->



<html>
    <head>
 <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
 <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
 <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
        <app-navbar></app-navbar>

  <h1>Products Management</h1>

  <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/add-products']" style="margin: 15px">Add Products</button>
    </div>
 <p-table [value]="productslist" [rows]="1" [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Cost</th>
            <th scope="col">Product Category</th>
            <th scope="col">Action</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products>
        <tr>
            <td><img src="{{products.file}}" alt="" height="100px" width="100px"></td>
            <td>{{products.productName}}</td>
          <td>{{products.productDescription}}</td>
          <td>{{products.productCost}}</td>
          <td>{{products.productCategory}}</td>
          <button pButton type="button" label="Delete" (click)="deleteProducts(products._id)"></button>&nbsp;
          <button pButton type="button" label="Edit" [routerLink]="['/edit-products',products._id]"></button>

        </tr>
    </ng-template>
</p-table>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
