<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="footer-bottom">
<div class="container">
					<div class="row">
						<div class="col-sm-12 ">
							<div class="copyright-text">
								<p>CopyRight © 2018 Digital All Rights Reserved</p>
							</div>
						</div> 
					
					</div>
				</div>
</div>