body{
    background-image: url('../../../../assets/images/videoblocks-bitcoins-rain-ecommerce-animation-illustration-design_sblpxd45g_thumbnail-full01.png');
    background-size: cover;
}

@media screen and (min-width: 600px) {  
    .center-login {
      width: 600px;
      margin: 0 auto;
      height: 650px;
    }
  }