<html>
    <app-navbar-user></app-navbar-user>
  <body>
      <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
          <div class="form-row">
            <label style="font-size: 15px" for="card-info">Card Info</label>
            <div id="card-info" #cardInfo></div>
        
            <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
          </div>
        
          <button type="submit" style="font-size: 15px;width: 50px">Pay</button>
        </form>
  </body>
  <app-footer-user></app-footer-user>
</html>