
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">

<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Register</h1>
        <label>Username
          <input type="text" formControlName="username">
        </label>
        <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">{{ titleAlert }}</div>

        <label>Password
          <input type="password" formControlName="password">
        </label>

        <label>Email
          <input type="email" formControlName="email" required email="true">
        </label>
        <div *ngIf="officialEmail.errors"> 
          <div *ngIf="officialEmail.errors.required">
              Correct Email required.
          </div> 		   
          <div *ngIf="officialEmail.errors.pattern">
              Email not valid.
          </div> 
       </div> 
        <!-- <label>Email
          <input type="email" formControlName="email" required>
        </label> -->
        <!-- <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Give valid mailid</div> -->
        <!-- <div *ngIf="primaryEmail.errors?.email">
          Primary Email not valid.
     </div>  -->

        <!-- <label>Password
          <textarea  formControlName="description"></textarea>
        </label> -->
        <!-- <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You must specify a description that's between 30 and 500 characters.</div> -->

        <!-- <label for="validate">Minimum of 3 Characters</label> -->
        <!-- <input type="checkbox" name="validate" formControlName="validate" value="1"> On -->
        
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<!-- <ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }} has registered</h1>

        <p>{{ description }}</p> 
    </div>
  </div>
</ng-template> -->